* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin-top: 49px;
}

.app {
    width: 100%;
    height: 100vh;
}

.swicher {
    cursor: pointer;
}

.title {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}

.delete {
    position: absolute;
    top: 10px;
    right: 10px;
    color: red;
    cursor: pointer;
    font-size: .75rem;
}